
@{
    ViewBag.Title = "Inicio";
}

<h2>Controle de DadosImg</h2>



<h2>Inicio</h2>


<script src="~/Scripts/dadosImgPage.js"></script>



<div class="jumbotron">
    <h3>Escolha uma das opções abaixo</h3>
    <div>

        @Html.ActionLink("Buscar nova imagem", "Index", "Home")
        <br>
        @Html.ActionLink("Crud DadosImg", "DadosImg", "Home")
        <br>

    </div>

</div>


